
ion-content{
    --ion-background-color:white;
    
}
.nro{
    background:lightblue;
    color: navy;
    border-radius: 50% 50%;
    padding: 0.6em;
    margin: 3px;
    font-weight: bold;
    font-size: 1.3em;
}
