.error_messages{
	font-size:0.7em;
	color:red;
	text-align:center;
}
ion-content{
    --ion-background-color:mediumseagreen;
}
.card-principal{
    margin-top: 50px !important;
	width: 90%;
	margin: auto;
	background: white;
}
.card-principal ion-card-header{
    background: lightseagreen;
    font-size: 1.5em;
    text-align: center;
    font-weight: bold;
    color: white;
    box-shadow: 0px 2px 2px gray;
    padding: 5px 0;
}

.card-interior{
    width:50%;
    margin: auto;
}
.card-interior ion-card-header{
    background: white;
    box-shadow: 0 0 0 white;
    color: gray;
    
}


.subtitulo_tramites{
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	color: white;
	font-size: 1.3em;
}
ion-input,ion-textarea{
    border: 1px solid lightgray;
    border-radius: 10px 10px;
    margin-bottom: 15px;
    font-size: 1.2em;
}
.btn_enviar{
    width: 30%;
    margin: auto;
    border-radius: 25px 25px;
    font-size: 1.2em;
    font-weight: bold;
    overflow: hidden;
}
.asteriscorojo{
    color:red;
    font-weight: bold;
}
ion-card-content{
    padding-top: 1.5em;
}