
ion-content{
    --ion-background-color:white;
    
}
.nro{
    background:lightblue;
    color: navy;
    border-radius: 50% 50%;
    padding: 0.5em;
    margin: 3px;
    font-weight: bold;
    font-size: 1.4em;
    // text-shadow: 1px 1px 1px black;
}