<ion-header>

    <div class="logo_gmac"></div>
    <div class="cabecera">
      <span>
          <ion-buttons slot="start" class="btn_volver">
              <ion-back-button  text="&#8701; Volver" defaultHref="/menu">
              </ion-back-button>
          </ion-buttons>
      </span>
      PLATAFORMA VIRTUAL DE ATENCIÓN
      </div>
  </ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col><ion-img src="assets/imgs/map1.png" [routerLink]='[this.paginadestino,0]'></ion-img></ion-col>
      <ion-col><ion-img src="assets/imgs/map4.png" [routerLink]='[this.paginadestino,1]'></ion-img></ion-col>
    </ion-row>
    <ion-row>
        <ion-col><ion-img src="assets/imgs/map2.png" [routerLink]='[this.paginadestino,2]'></ion-img></ion-col>
        <ion-col><ion-img src="assets/imgs/map5.png" [routerLink]='[this.paginadestino,3]'></ion-img></ion-col>
      </ion-row>
      <ion-row>
          <ion-col><ion-img src="assets/imgs/map3.png" [routerLink]='[this.paginadestino,4]'></ion-img></ion-col>
          <ion-col><ion-img src="assets/imgs/map6.png" [routerLink]='[this.paginadestino,5]'></ion-img></ion-col>
        </ion-row>
  </ion-grid>
</ion-content>
<ion-footer>
    <ion-toolbar color="light-shade">
      <div class="pie_menu">Plataforma Virtual de Atención</div>
      <!-- <ion-title>Footer</ion-title> -->
      
    </ion-toolbar>
  </ion-footer>
